.basket-container{
    position: absolute;
    z-index: 99;
    top: 5rem;
    left: 70%;
    width: 20%;
    height: 15rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    border-radius: .45rem;
    background-color: white;
    cursor: pointer;
    display: none;
}
.basket-heading{
    color: black;
    position: relative;
    right: 6.5rem;
}
.basket-empty{
    margin-top: 2.25rem;
}

@media screen and (max-width: 920px){
    .basket-container{
        width: 95%;
        height: 20rem;
        margin: .5rem;
        top: 5.5rem;
        left: 0%;
    }
    .basket-heading{
        position: relative;
        right: 9.5rem;
    }
    .basket-empty{
        margin-top: 7.25rem;
    }
    .hr{
       display: block;
    }
}