.lightbox-overlay-container{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.8);
}
.light-box-content{
    position:  relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 30%;
    margin: 2.5rem;
}
.modal-exit-button{
    position: relative;
    left: 86%;
    bottom: 25%;
}
.main-image-container{
    width: 225px;
    height: 225px;
}
.main-image-container img{
    position: relative;
    width: 100%;
    height: 100%;
    left: 17rem;
}
.lb-selection-container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 20%;
    left: 0;
    gap: 2.25rem;
}
.lb-img{
    width: 15%;
    border-radius: 5%;
    opacity: 1;
}
.lb-img:hover{
    border: 1.25px solid;
    border-color: var(--light-grayish-blue)
}
.lightbox-next{
    position: relative;
    bottom: 55%;
    left: 215%;
    background-color: white;
    padding: .85rem;
    border-radius: 1.85rem;
}
.lightbox-prev{
    position: relative;
    bottom: 55%;
    left: 95%;
    background-color: white;
    padding: .85rem;
    border-radius: 1.85rem;
}