/**
* ! Imports - Font Styles:
**/
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400&display=swap');

:root{
    /**
    * ? Primary Colours: 
    **/
    
    --primary-orange: hsl(26, 100%, 55%);
    --primary-pale-orange: hsl(25, 100%, 94%);

    /**
    * ? Secondary Colours: 
    **/

    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue:hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 0%);
}

/**
* ? Reset Browser Defaults:
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
* ! The designs were created to the following widths:
* ? Mobile: 375px Desktop: 1440px
**/


/**
* ! These styles are for the header navigation section:
**/

.menu-icon{
    display: none;
}
.close-button{
    display: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 2rem;
    position: relative;
}
.nav-desktop-active ul{
    position: relative;
    right: 4%;
    gap: 1.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.list-item a{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--grayish-blue);
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
}
/* 
.list-item a::after{
    content: "";
    position: relative;
    top: 3.5rem;
    right: 4rem;
    width: 75px;
    height: 2px;
    background-color: var(--primary-orange);

} */
.logo{
    margin-top: 1rem;
}
.cart{
    position: relative;
    z-index: 0;
    left: 12.5em;
    margin-right: 2rem;
    margin-top: 1em;
    cursor: pointer;
}
.cart-amount{
    position: relative;
    bottom: 2rem;
    left: 13.5rem;
    background-color: var(--primary-orange);
    width: 1.5rem;
    border-radius: .85rem;
    font-family: 'Kumbh Sans', sans-serif;
}
.avatar{
    width: 50%;
    cursor: pointer;
}
.avatar:hover{
    border: 2.5px solid;
    transition: border 80ms;
    border-color: var(--primary-orange);
    border-radius: 2.5rem;
}
hr{
    margin-top: 1rem;
    width: 82%;
    transform: translateX(10%);
    color: var(--light-grayish-blue);
    opacity: 25%;
}

@media screen and  (min-width: 1280px) and (max-width: 1445px) {
    .cart{
        left: 12.5rem;
    }
}
@media screen and  (min-width: 1080px) and (max-width: 1280px) {
    .cart{
        left: 7.5rem;
    }
}
@media screen and  (min-width: 810px) and (max-width: 1080px) {
    .cart{
        left: 2.5rem;
    }
}
@media screen and (max-width: 920px){
    .menu-icon{
        display: block;
        margin: 1.24rem 1.25rem 0 1.25rem;
    }
    .cart{
        left: 2.5rem;
    }
    hr{
        display: none;
    }
    .nav-desktop-active ul{
        display: none;
    }

    .nav-mobile-active ul{
        margin-top: 0rem;
        width: 100%;
        height: 100vh;
        background-color: white;
        display: block;
        position: absolute;
        z-index: 2;
        top: -2rem;
        left: 0rem;
        flex-direction: column;
    }
    .nav-mobile-active ul li a{
        position: relative;
        top: 2.25rem;
        margin-top: 5rem;
        color: black;
    }
    .close-button{
        display: block;
        position: absolute;
        z-index: 2;
        margin-left: 2.25rem;
        top: 1rem;
        left: 2rem;
    }
}




